source ./vars

enabled_oneshots=(
    up-loopback
    mount-boot
    #zram
    #wake-on-lan
)

enabled_services=(
    dhcpcd
    sshd
    seatd
    ntpd

    # iwd
    dbus
    iwd

    # nfs
    rpcbind
    rpcstatd
    nfs-server
)

install_files=(
    lib
)

ttys=(1 2)
#autologin_tty1="mojyack"

# for test
if [[ $(id -u) != 0 ]]; then
    svroot="/tmp/runit"
    logdir="/tmp/log"
fi
